# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test_proj/Debug/test_proj.exe
test_proj/Debug/test_proj.ilk
test_proj/Debug/test_proj.pdb
test_proj/test_proj.VC.VC.opendb
test_proj/test_proj/Debug/sum.obj
test_proj/test_proj/Debug/test_proj.log
test_proj/test_proj/Debug/test_proj.tlog/link.read.1.tlog
test_proj/test_proj/Debug/vc140.idb
test_proj/test_proj/Debug/vc140.pdb
